@import "tailwindcss";

/* app/globals.css */

:root {
  --bg-color: 255, 255, 255;
  /* White */
  --text-color: 17, 24, 39;
  /* Dark Gray */
  --nav-bg: 255, 255, 255, 0.8;
  /* Transparent White */
}

[data-theme='dark'] {
  --bg-color: 23, 23, 23;
  /* Neutral 900 */
  --text-color: 243, 244, 246;
  /* Light Gray */
  --nav-bg: 23, 23, 23, 0.8;
  /* Transparent Dark */
}

body {
  background-color: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  transition: background-color 0.3s ease;
}


@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 4s ease-in-out infinite;
  animation-delay: 2s;
  /* Offset so they don't move exactly together */
}